/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$title-color: #fff;
$navbar-background-color: #3DDAD7;
$navbar-item-hover-color: $title-color;
// $navbar-item-hover-background-color: #F5AB99;
$navbar-item-hover-background-color: rgb(21, 170, 175);
// $navbar-item-hover-background-color: #FF7E5F;
// $link: #444;
// $link-hover: #222;
@import url("https://fonts.googleapis.com/css?family=Vollkorn:400,600,900");
@import "font-awesome";
@import "bulma";
@import "functions";

html {
  font-family: "Vollkorn", sans-serif;
}

.blue-color {
  color: #3DDAD7;
}
.main-content {
  height: 100vh;
}
.title {
  font-weight: 900;
}

.notification {
  border-radius: 0;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.camera-index-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 5%;
  

  .camera {
    // border-left: 0;
    // border-top: 0;
    position: relative;
    min-height: 375px;
    margin-bottom: 10%;
    .title {
      line-height: 1.6rem;
    }
    .price {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  .camera-thumb {
    position: relative;
    max-height: 150px;
    overflow: hidden;

    img {
      max-width: 100%;
      width: 100%;
      &:hover {
        opacity: .9;
      }
    }

    .condition {
      position: absolute;
      bottom: 10px;
      right: 9px;
    }
  }
}